* {
  margin: 0rem;
  box-sizing: border-box;
}
body {
  font-family: "Rubik", sans-serif;
}

main {
  margin: 3rem;
}

h1 {
  font-family: "Rubik", sans-serif;
}

h2 {
  font-family: "Rubik", sans-serif;
}

h3 {
  font-family: "Rubik", sans-serif;
}

p {
  font-family: "Rubik", sans-serif;
}
