---
import Layout from "../layouts/Layout.astro";
import "../styles/style.css";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import Footer from "../components/Footer.astro";
import Ikon from "../components/Ikon.astro";
import Button from "../components/Button.astro"
---

<Layout>
<Nav/>
<Hero/>
<h2 class="bidragtilfremtiden">Et bidrag til fremtiden</h2>
<section class="section1 scale-in-center">
<p class="bidrag_tekst">Hos Plastic Change kæmper vi for at ændre den forfærdelige situation vi står i, og den fremtid vi går i møde.</p>
<p class="bidrag_tekst"> Vi arbejder hele tiden med problemet fra flere sider, der skal gøre op med hvordan vi bruger plastik, så vi kan spare på jordens ressourcer når vi producerer, og samtidig forhindre at det ender som affald og forurening, når vi er færdige med det.</p>
</section>
<h2 class="værdatvide">Værd at vide</h2>
<div class="ikoner">
<Ikon titel = "Oprettelse af testamente er gratis, når du støtter velgørenhed" tekst = "Oprettelse af testamente behøver ikke være dyrt. Hos Dokument24.dk er det gratis, hvis du betænker Plastic Change. Her kan du altså spare en advokat, som ellers ville kunne hjælpe mod betaling, til 3.000-8.000 kr." ikon = "../img/ikon_money.svg" />
<Ikon titel = "Dine arvinger kan få mere ud af arven, når du støtter velgørenhed" tekst = "Optimer arven ved at betænke velgørende organisationer som delvis arving, fritaget for arveafgift, og på den måde frigøre midler til øvrige arvinger." ikon = "../img/ikon_hand.svg"/>
<Ikon titel = "Du kan altid ændre eller tilbagekalde testamentet" tekst = "Dit testamente kan til enhver tid ændres eller tilbagekaldes. Opretter du et testamente i fællesskab med din ægtefæller eller partner, bør det fremgå af testamentet, om længstlevende skal have mulighed for at ændre i testamentet." ikon = "../img/ikon_test.svg"/>
<Ikon titel = "Spørgsmål eller hjælp til din støtte" tekst = "Kontakt  info@plasticchange.org, hvis du har spørgsmål eller brug for hjælp til din støtte. Vi er klar til at hjælpe." ikon = "../img/ikon_letter.svg"/>
</div>
<div class="toknapper">
    <div class="testamente-stor">
        <Button variant="testamente-stor" tekst= "Opret testamente"/>
        </div>
<div class="testamente-stor">
<Button variant="støt" tekst= "Støt fordi..."/>
</div>

</div>


<Footer/>
</Layout>


<style>
.bidragtilfremtiden{
    text-align: center;
    margin-top:8rem;
   
}

.bidrag_tekst{
  margin-inline: 4rem;
    color: var(--text-primary);
    margin-top: 2.5rem;
}

.værdatvide{
    text-align: center;
    margin-top:9rem;
  
   
}
.ikoner{
    justify-items: center;
    margin-inline: 5rem;
    display: grid;

}

.toknapper{
    display: grid;
  justify-content: center;
}

.testamente-stor{
margin-top: 5rem;
margin-inline: 5rem;
}

.scale-in-center {
    animation: scale-in-center .5s cubic-bezier(.25,.46,.45,.94) both;
}

h2{
    font-family: "Campton-boldDEMO";
}


 @keyframes scale-in-center{0%{transform:scale(0);opacity:1}100%{transform:scale(1);opacity:1}}
@media (min-width: 1000px) {
    .ikoner {
        grid-template-columns: 1fr 1fr;
        gap: var(--spacing-info-grid);
        justify-items: center;
        margin-inline: 18rem;
    }

    
.testamente-stor{
display: flex;
margin-top: 1rem;
justify-content:center;
 
}

h2{
    font-size: 2.5rem;
    font-family: "Campton-boldDEMO";
}


.bidragtilfremtiden{
    text-align: center;
    margin-top:8rem;
   
}

.bidrag_tekst{
    max-width: 50rem;
    margin-inline:auto;
    font-size:1.25rem;
    color: var(--text-primary);
    margin-top: 2.5rem;
}

.værdatvide{
    text-align: center;
    margin-top:9rem;
    margin-bottom: 2.5rem;
   
}
}
</style>

<script>
    import { gsap } from "gsap";
        
        import { ScrollTrigger } from "gsap/ScrollTrigger";

        gsap.registerPlugin(ScrollTrigger);
gsap.matchMedia().add("(prefers-reduced-motion: no-preference)", () => {
  const sections = document.querySelectorAll("section");
  sections.forEach((section) => {
    const ps = section.querySelectorAll(".section1 p");
    gsap
      .timeline({
        scrollTrigger: {
          trigger: section,
          start: "top 90%", // Animationen sættes igang, når toppen a section-elementet rammer 50% ind i viewporten
          end: "+=300px", // Animationen er slut, når man har scrollet 200px ned
          scrub: 0.2, // Animationen bindes op på scrollbaren
        },
      })
      .from(ps, {
        opacity: 0,
        y: 20,
        stagger: 0.5,
      });
  });
});

        
    </script>