---
import Layout from "../layouts/Layout.astro";
import "../styles/style.css";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import Footer from "../components/Footer.astro";
import Ikon from "../components/Ikon.astro";
import Button from "../components/Button.astro"
---

<Layout>
<Nav/>
<Hero/>



<div class="ikoner">
<Ikon titel = "Oprettelse af testamente er gratis, når du støtter velgørenhed" tekst = "Oprettelse af testamente behøver ikke være dyrt. Hos Dokument24.dk er det gratis, hvis du betænker Plastic Change. Her kan du altså spare en advokat, som ellers ville kunne hjælpe mod betaling, til 3.000-8.000 kr." ikon = "../img/ikon_money.svg" />
<Ikon titel = "Dine arvinger kan få mere ud af arven, når du støtter velgørenhed" tekst = "Optimer arven ved at betænke velgørende organisationer som delvis arving, fritaget for arveafgift, og på den måde frigøre midler til øvrige arvinger." ikon = "../img/ikon_hand.svg"/>
<Ikon titel = "Du kan altid ændre eller tilbagekalde testamentet" tekst = "Dit testamente kan til enhver tid ændres eller tilbagekaldes. Opretter du et testamente i fællesskab med din ægtefæller eller partner, bør det fremgå af testamentet, om længstlevende skal have mulighed for at ændre i testamentet." ikon = "../img/ikon_test.svg"/>
<Ikon titel = "Spørgsmål eller hjælp til din støtte" tekst = "Kontakt  info@plasticchange.org, hvis du har spørgsmål eller brug for hjælp til din støtte. Vi er klar til at hjælpe." ikon = "../img/ikon_letter.svg"/>
</div>
<div class="toknapper">
    <div class="testamente-stor">
        <Button variant="testamente-stor" tekst= "Opret testamente"/>
        </div>
<div class="testamente-stor">
<Button variant="støt" tekst= "Støt fordi..."/>
</div>

</div>


<Footer/>
</Layout>


<style>




@media (min-width: 1000px) {
    .ikoner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 12.25rem;
        gap: var(--spacing-info-grid);
    }

    
.testamente-stor{
display: flex;
margin-top: 1rem;
justify-content:center;
 
}

.toknapper{

}
}
</style>

