---
import Layout from "../layouts/Layout.astro";
import "../styles/style.css";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import Infografik from "../components/Infografik.astro"
import Button from "../components/Button.astro"

---



<Layout>
    <Nav/>
    <div class="støt_grid">
        <!-- <img class="hero-pic" src="../img/SVG/infobillede.svg" alt="Plastic i vandet" /> -->
       <div class="tekst">
        <div class="hero_landing">
            <h1 class="h1_støtfordi tilt-in-left-1">DU SKAL<br> STØTTE FORDI</h1>
          </div>
          <section class="section1 scale-in-center">
          <p class="støtfordi_tekst tilt-in-left-1">...at naturen hver dag forurenes med tusindvis af plaststykker, som aldrig forsvinder igen. At der hvert minut tømmes plastikaffald ud i havet. Og at plastikaffaldet vikler sig rundt om sæler, skildpadder, delfiner og ender i maver på hvaler, fugle og fisk. </p>
        </section>
        </div>

        <div class="animationer">
            <div class="container1 vibrate-1">
            <img class="img" id="dunk" src="../img/SVG/dunk.svg">
        </div>
        <div class="container2 vibrate-2">
            <img class="img" id="pose" src="../img/SVG/pose.svg">
        </div>
        <div class="container3 vibrate-3">
            <img class="img" id="flaske1" src="../img/SVG/flaske1.svg">
        </div>
            
        </div>   
        </div>

    
        <h2 class="plastikforurening">Forbruget af plastik</h2>
        <section class="section1 scale-in-center">
          <p class="bidrag_tekst">Vi bruger allerede meget plastik, men kigger vi ud i fremtiden, vil de tal kun stige.<br> Tag et kig herunder for et indblik i, hvordan fremtiden kan se ud, medmindre vi griber ind.</p>
        
          </section>
<div class="info_wrapper">
  <div class="grafik1">
    <Infografik number = "1" grafik = "../img/SVG/inforgrafik_1.svg" tekst = "I 2017 blev der globalt produceret svimlende 322 millioner tons plastik. Mængden af plastaffald, der ender i havet, forventes at fordoble sig inden 2030. "/> 
  </div>
  <div class="grafik2">
    <Infografik side="right" number="2" grafik = "../img/SVG/grafik2_1.svg" tekst = "I 2040 vil plastikforurening  været tredoblet , og 80%  af den forurening vil udgøre engangsplastik"/>   
  </div>
    <div class="grafik3">
    <Infografik number="3" grafik = "../img/SVG/grafik3.svg" tekst = "Sådan fordeles plastikforbruget."/>   
  </div>
</div>
  <div class="testamente-stor">
    <Button variant="testamente-stor" tekst= "Opret testamente"/>
</div>

  
<Footer/>
</Layout>

<style>
.testamente-stor{
    display:flex;
    justify-content:center;
}

.hero-pic{
background-image: url(../img/SVG/infobillede.svg);
        width: 100%;
        background-size: cover;
        padding-top: 20rem;
    }

   .info_wrapper{
    margin-inline:4rem;
   }

   .h1_støtfordi{
    font-size: 2rem;
    margin:2rem;
    color: var(--text-h1);
     font-family: "Campton-boldDEMO";

  
}
.støtfordi_tekst{
color: var(--text-h1);
  margin:2rem;
  line-height: 1.75rem;

 

   }
   .støt_grid{
 display: flex;
 flex-direction: row;
  background-image: url(../img/SVG/infobillede.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem;
}
.animationer {
    display: none;
         font-family: "Campton-boldDEMO";
}

.plastikforurening{
    text-align: center;
    margin-top:5rem;
   
}
.bidrag_tekst{
  margin-inline: 4rem;
    color: var(--text-primary);
    margin-top: 1rem;
    margin-bottom: 3rem;
    line-height: 1.75rem;
}
.bidrag_tekst2{
  margin-inline: 4rem;
    color: var(--text-primary);
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 1.75rem;
}
 
h2{
    font-family: "Campton-boldDEMO";
}

     @media (min-width: 1000px) {
   .infogrid{
    display: grid;
    justify-items: right;
   }

   .info_wrapper{
    margin-inline:10rem;
    display: grid;
    grid-template-columns: 1fr;
   }
.grafik1{
  justify-self: center;
  align-self: center;
  width: 60%;
opacity: 0;
}
.grafik2 {
  justify-self: center;
  align-self: center;
  width: 90%;
}
   .grafik3{
    justify-self: center;
  align-self: center;
    width: 100%;
 }

   .støt_grid{
 display: flex;
 flex-direction: row;
  background-image: url(../img/SVG/infobillede.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 7rem;
}

.animationer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
}

.animationer img {
    width: 150px;
}


.container1{
    grid-column: span 2;
    justify-self: center;

}

.container2 {
    justify-self: end ;
    padding-right: 4rem;

}

.støtfordi_tekst{
color: var(--text-h1);
  margin:2rem;
  line-height: 1.75rem;
    width: 500px;
   }
   .plastikforurening{
    text-align: center;
    margin-top:8rem;
}

h2{
    font-size: 2.5rem;
    font-family: "Campton-boldDEMO";
}

.bidrag_tekst{
  max-width: 52rem;
    margin-inline:auto;
    font-size:1.25rem;
    color: var(--text-primary);
    margin-top: 2.5rem;
}

.bidrag_tekst2{
  margin-inline: 4rem;
    color: var(--text-primary);
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 1.75rem;
}

.opretnu{
    text-align: center;
    margin-inline:20rem;
    font-size:1.25rem;
    color: var(--text-primary);
    margin-top: 2.5rem;
}

/* til grafik i vandet */
.vibrate-1 {
	-webkit-animation: vibrate-1 3s linear infinite both;
	        animation: vibrate-1 3s linear infinite both;
}


 @keyframes vibrate-1{0%{transform:translate(0)}20%{transform:translate(-2px,2px)}40%{transform:translate(-2px,-2px)}60%{transform:translate(2px,2px)}80%{transform:translate(2px,-2px)}100%{transform:translate(0)}}

 .vibrate-2{animation:vibrate-2 3s ease-in-out infinite both}


@keyframes vibrate-2{0%{transform:translate(0)}20%{transform:translate(-2px,2px)}40%{transform:translate(-2px,-2px)}60%{transform:translate(2px,2px)}80%{transform:translate(2px,-2px)}100%{transform:translate(0)}}
   .h1_støtfordi{
    font-size: 3.75rem;
    margin:2rem;
    color: var(--text-h1);
    width: 500px;
}

.vibrate-3{animation:vibrate-3 4s ease-in-out infinite both}

@keyframes vibrate-3{0%{transform:translate(0)}20%{transform:translate(-2px,2px)}40%{transform:translate(-2px,-2px)}60%{transform:translate(2px,2px)}80%{transform:translate(2px,-2px)}100%{transform:translate(0)}}


/* til overskrift */
.tilt-in-left-1{animation:tilt-in-left-1 1.5s cubic-bezier(.25,.46,.45,.94) both}

 @keyframes tilt-in-left-1{0%{transform:rotateX(-30deg) translateX(-300px) skewX(-30deg);opacity:0}100%{transform:rotateX(0deg) translateX(0) skewX(0deg);opacity:1}}

   }

 /* til infotekster */
 .scale-in-center {
    animation: scale-in-center .5s cubic-bezier(.25,.46,.45,.94) both;
}

 @keyframes scale-in-center{0%{transform:scale(0);opacity:1}100%{transform:scale(1);opacity:1}}




/* til infografikker 1 og 3 */
.slide-in-left{animation:slide-in-left .8s cubic-bezier(.25,.46,.45,.94) both}

 @keyframes slide-in-left{0%{transform:translateX(-1000px);opacity:0}100%{transform:translateX(0);opacity:1}}

/* til infografikker 2 */
 .slide-in-right{animation:slide-in-right .8s cubic-bezier(.25,.46,.45,.94) both}
@keyframes slide-in-right{0%{transform:translateX(1000px);opacity:0}100%{transform:translateX(0);opacity:1}}
</style>

<script>
    import { gsap } from "gsap";
        
        import { ScrollTrigger } from "gsap/ScrollTrigger";

        gsap.registerPlugin(ScrollTrigger);
gsap.matchMedia().add("(prefers-reduced-motion: no-preference)", () => {
  const sections = document.querySelectorAll("section");
  sections.forEach((section) => {
    const ps = section.querySelectorAll(".section1 p");
    gsap
      .timeline({
        scrollTrigger: {
          trigger: section,
          start: "top 90%", // Animationen sættes igang, når toppen a section-elementet rammer 50% ind i viewporten
          end: "+=300px", // Animationen er slut, når man har scrollet 200px ned
          scrub: 0.2, // Animationen bindes op på scrollbaren
        },
      })
      .from(ps, {
        opacity: 0,
        y: 20,
        stagger: 0.5,
      });
  });
});
     


gsap.to(".grafik1", {
         scrollTrigger: {
             trigger: ".grafik1", 
             start: "top 70%",
             toggleClass:"slide-in-left",
      },
       
      });

      gsap.to(".grafik2", {
         scrollTrigger: {
             trigger: ".grafik2", 
             start: "top 50%",
             toggleClass:"slide-in-left",

      },
       
      });

      gsap.to(".grafik3", {
         scrollTrigger: {
             trigger: ".grafik3", 
             start: "top 50%",
             toggleClass:"slide-in-left",
      },
       
      });

 
    </script>