<div class="footer">
    <a href="/">
        <img src="../img/plasticchangelogo.png" alt="logo" id="logo">
        </a>
</div>

<style>
img{
    margin-top:20rem;
}

#logo {
    width: 10rem;
    margin: 1rem 2rem 0 2rem;
position: relative;
    }

    .footer{
        background-image: url(../img/SVG/footer.svg);
        width: 100%;
        background-size: cover;
        padding-top: 20rem;
        margin-top: 15rem;
    }

</style>