<section>
        <form name="kontakt" netlify>
          <!-- Formular-indhold -->
                 <h2>OPRET TESTAMENTE</h2>
                 <p></p>
          <div class="form-felt">
            <label for="full-name">Fornavn</label>
            <input placeholder="Dit fornavn" id="full-name" name="fname" type="text" required />
          </div>

          <div class="form-felt">
            <label for="full-name">Efternavn</label>
            <input placeholder="Dit efternavn" id="full-name" name="fname" type="text" required />
          </div>

          <div class="form-felt">
            <label for="email">E-mail</label>
            <input placeholder="din@mail.com" id="email" name="email" type="email" required />
          </div>

          <button>OPRET TESTAMENTE</button>
        </form>
      </section>

      <style>

    /* Dine styles her */
form {
  display: grid;
  padding: 2rem;
  background: hsl(0, 0%, 100%);
  border-radius: 8px;
  border: 2px solid red;
  gap: 20px;
}

.form-felt {
  display: grid;
}

/*** gør så det rykker sig på næste linje ***/
label,
input,
textarea,
select,
button {
  display: block;
}

.boks {
  width: 100%;
}


button {
  background-color: #3c4c8c;
  color: white;
  border: none;
  padding: 1rem 3rem 1rem 3rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  border-radius: 2rem;
  margin: 1rem;
  font-family: kiln-sans, sans-serif;
}

/* == Body styles == */
body {
  line-height: 1.6;
}

/* Main styles */
main {
  max-width: 1000px;
  margin-inline: auto;
  padding-inline: 2rem;
  margin-block: 3rem;
}

section {
  display: grid;
  gap: 3rem;
  align-items: start;
}

section header {
  display: grid;
  gap: 1rem;
}

section header p {
  color: hsl(264 10% 40%);
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type=text]:focus{
  border: 3px solid green;
}

input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type=email]:focus{
  border: 3px solid green;
}



      </style>