---
import Formular from "./Formular.astro";
---

  
  <div class="hero_grid">
<!-- <img class="hero-pic" src="../img/SVG/herobillede.svg" alt="Plastic i vandet" /> -->
  <div class="hero_landing">
    <h1 class="hero_h1 tilt-in-left-1">GIV EN RENERE<br> VERDEN VIDERE</h1>
  <p class="hero_text ">Kæmp mod plastikforurening nu og i fremtiden</p>
</div>

  <div class="hero-formular">
  <Formular/>
</div>
  </div>


</div>

<style>
.hero_grid {
  text-align: left;
  
}

.hero_landing{
  background-image: url("../img/SVG/herobillede.svg");
  background-size: cover;
  padding-top: 4rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
}


.hero_text {
padding-bottom: var(--spacing-vandret-spacing-32);
color: var(--grey-50-color);
font-family: "Campton-boldDEMO";
margin-top: 4rem;


}

.hero_h1{
  color: var(--grey-50-color);
  font-family: "Campton-boldDEMO";
  margin-top: 1rem;
  margin-bottom: 10rem;
  
}
p {
  color: var(--grey-50-color);
  color: black;
}

.hero-pic{
  
}

@media (min-width: 1000px) {


 .hero_grid{
  /* display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr; */
  display: flex;
  flex-direction: row;
  background-image: url("../img/SVG/herobillede.svg");
  background-size: cover;
  justify-content: space-between;
  gap: 5rem;
}

.hero_landing{
  font-size: 3.75rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  /* grid-row:  2/4;
  grid-column: 1/6; */

}
.hero_text{
  margin:2rem;
  align-self: center;
  position: relative;
}

.hero_text::before{
  content: "";
  width: 100%;
  position: absolute;
  height: 1px;
  background-color: white;
  top: -0.5rem;
}

 .hero-pic{
  grid-column: 1/9;
  grid-row: 1/6;
}

  .hero_h1{
    font-size: 3.75rem;
    margin-inline: 2rem;
    margin-top:5rem;
  }
  p {
  color: var(--grey-50-color);
    grid-row:  5/6;
    grid-column: 1/4;
    margin:2rem;
    font-size: 1.25rem;
}
.hero-formular{
  margin-bottom:3rem;
  margin-right: 2rem;
  max-width: 40%;
}

}

.tilt-in-left-1{animation:tilt-in-left-1 1.5s cubic-bezier(.25,.46,.45,.94) both}


 @keyframes tilt-in-left-1{0%{transform:rotateX(-30deg) translateX(-300px) skewX(-30deg);opacity:0}100%{transform:rotateX(0deg) translateX(0) skewX(0deg);opacity:1}}


</style>

