---
import Formular from "./Formular.astro";
---

  
  <div class="hero_grid">

<!-- <img class="hero-pic" src="../img/SVG/herobillede.svg" alt="Plastic i vandet" /> -->
  <div class="hero_landing">
    <h1 class="hero_h1 tilt-in-left-1">GIV EN RENERE<br> VERDEN VIDERE</h1>
  <p class="hero_text ">Kæmp mod plastikforurening nu og i fremtiden</p>
  </div>

  <div class="hero-formular">
  <Formular/>
  </div>


</div>

<style>
.hero_grid {
  display: flex;
  flex-direction: column;
  text-align: left;
  
}

.hero_landing{
  padding-top: var(--spacing-knapper-info);
  padding-bottom: var(--spacing-sub-header);
  padding-left: var(--spacing-sub-header);
  background-image: url("../img/SVG/herobillede.svg");
  background-size: cover;
  background-repeat: no-repeat;
}


.hero_text {
padding-bottom: var(--spacing-vandret-spacing-32);
color: var(--grey-50-color);
font-family: "Campton-boldDEMO";
margin-top: var(--spacing-knapper-info);


}

.hero_h1{
  color: var(--grey-50-color);
  font-family: "Campton-boldDEMO";
  margin-top: var(--spacing-sub-header);
  margin-bottom: 10rem;
  
}
p {
  color: var(--grey-50-color);
  color: black;
}

.hero-pic{
  
}

@media (min-width: 1000px) {


 .hero_grid{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5rem;
  background-image: url("../img/SVG/herobillede.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero_landing{
  font-size: 3.75rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background: none;

}
.hero_text{
  margin: var(--spacing-generel);
  align-self: center;
  position: relative;
}

.hero_text::before{
  content: "";
  width: 100%;
  position: absolute;
  height: 1px;
  background-color: white;
  top: -0.5rem;
}

 .hero-pic{
  grid-column: 1/9;
  grid-row: 1/6;
}

  .hero_h1{
    font-size: 3.75rem;
    margin-inline: var(--spacing-generel);
    margin-top:5rem;
  }
  p {
  color: var(--grey-50-color);
    grid-row:  5/6;
    grid-column: 1/4;
    margin:var(--spacing-generel);
    font-size: 1.25rem;
}
.hero-formular{
  margin-bottom:var(--spacing-forumlar);
  margin-right: var(--spacing-generel);
  max-width: 40%;
}

}

.tilt-in-left-1{animation:tilt-in-left-1 1.5s cubic-bezier(.25,.46,.45,.94) both}


 @keyframes tilt-in-left-1{0%{transform:rotateX(-30deg) translateX(-300px) skewX(-30deg);opacity:0}100%{transform:rotateX(0deg) translateX(0) skewX(0deg);opacity:1}}


</style>

