---
const {ikon,titel,tekst} = Astro.props
---

<div >
<img id="circle" src={ikon} alt="ikon">
<h3>{titel}</h3>
<p>{tekst}</p>
</div>


<style>


#circle {
    background: rgb(243, 194, 194);
    border-radius: 50%;
}

img {
    padding: 1rem;
}



</style>