---
const {grafik,number,tekst,side} = Astro.props

---

<div class=`infogrid ${side}`>
    <div class=`card_wrapper ${side}`>
   
    <img src={grafik} alt="infografik">
    <p>{tekst}</p>
    </div>
   </div>

    <style>
 img{
    padding-top: 0.75rem;
    width:100%;
 }
 h3{
    color:  var(--grey-50-color);
    text-align: center;
    padding-top: 0.5rem;
 }

 .circle{
    background-color: var(--contrast-500-color);
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    flex:start;
 }

 div{
    padding-top: 1rem;
    padding-bottom: 1.5rem;
 }

 p{
padding-top:0.5rem ;
font-size: 0.75rem;
line-height: 1.1875rem;
color: var(--grey-500-color);

 }

 .card-wrapper{

 }

 @media (min-width: 1000px) {
/* .infogrid{
   display: grid;
   } */

p{
   font-size: 1.25rem;
   font-weight:400;
   line-height: 1.75;

}

/* .right{
   justify-items: right;
} */

.card_wrapper{
   max-width: 100rem;
   display: grid;
   justify-items: center;
}
div{
    padding-top: 2rem;
    padding-bottom: 2rem;
 }
 img{
    padding-top: 0.75rem;
    width:70%;
 }

}

    </style>

